#filterField legend {
    border-bottom: none;
    margin: 1rem 0;
}

div#filterField div#keystroke_filter_field label#keystrokeLabel {
    display: none;
}

.noResultsToShow {
    background: #e3e3da;
    padding: 30px;
    margin: 15px;
}

.hideByText,
.hideByType,
.hideResultsMessage {
    display: none;
}


form#articleFilter {
    margin-top: 1rem;
}