#filterField legend {
    border-bottom: none;
    margin: 1rem 0;
}

div#filterField div#keystroke_filter_field label#keystrokeLabel {
    display: none;
}

.noResultsToShow {
    background: #e3e3da;
    padding: 30px;
    margin: 15px;
}

.hideByText,
.hideByGoal,
.hideByLevel,
.hideBySchool,
.hideResultsMessage {
    display: none;
}


@media screen and (max-width: 991.98px) {
    
    form#articleFilter {
        margin-top: 1rem;
    }
}
