/***
*       Custom Fulltext Styles for the CEJS Course Content Type
*       ID: 5650
*/


#pageContentWrapper .cejscourseItem .card-header h1#pageTitle {
    color: #AA0000;
    font-family: "Montserrat", sans-serif;
    font-size: 3.8rem;
    font-weight: 500;
    hyphens: none;
    padding: 3rem 0 0 0;
    margin: 0;
}

.cejscourseItem .row {
    padding: 0;
    margin: 0;
}


.cejscourseItem .cejscImageWrapper {
    padding: 0;
}

.cejscourseItem .cejscImageWrapper img.card-img {
    padding: 0;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
}

.cejscourseItem .card-footer {
    padding-top: 3rem;
}

.cejscourseItem p.card-subtitle {
    font-size: 2rem;
}

.cejscourseItem .articleSummary p {
    font-weight: 500;
}


.cejscourseItem ul.iconDashboard {
    margin: 0;
}

.cejscourseItem ul.iconDashboard li.sdgIcon {
    display: inline-block;
    padding: 0;
    margin-bottom: 0;
    background-color: transparent;
    border: none;
}

.cejscourseItem ul.iconDashboard li:before {
    content: unset;
}

.cejscourseItem img.listgroupImage {
    max-height: 125px;
    max-width: 125px;
    padding: 0;
}



/***
*       Custom Fulltext Styles for the CEJS Course Content Type
*       ID: 5650
*/
